parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 10
			path: config/strava-client.php

		-
			message: '#^Trait JordanPartridge\\StravaClient\\Concerns\\HasStravaTokens is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasStravaTokens.php
